.firstDiv{
     display:flex;
     height: 100%;
}

.childDiv{
     width:50%;
     height:50%;
     color:white;
     background-color:red;
}
.childDiv:nth-of-type(2) {
     background-image: url("../image.jfif");
     background-size: fit;
}
     @media (min-width: 576px){
          .firstDiv{
               flex-direction: column:
          
          }
     }
